html {
	/* Base rem reference. */
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-weight: 700;
	border-top: 15px solid #2F2B47;
	color: #2F2B47 !important;
	font-size: 3rem;
	padding: 20px 0 20px 0;
	text-align: right;
}

/* Handle h1 font-size on mobile devices. */
@media (max-width: 400px) {
	h1 {
		font-size: 11vh;
	}
}

p {
	font-weight: 300;
	font-size: 1rem;
	text-align: left;
}

body {
}

footer {
	font-size: .8rem;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

ul {
	list-style-type: none;
}

.breathe-top {
	margin-top: 1rem;
}

.site-title {
	font-weight: 700;
	font-size: 3.43rem;
}

.panel {
	margin: 0;
	padding-top: 2.3rem;
	background-color: white;
	border-style: none;
}

a, a:hover, a:visited {
	color: #2F2B47;
	text-decoration: underline;
}