h1 {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 700;
	border-top: 5px solid #2F2B47;
	color: #2F2B47 !important;
	font-size: 11vh;
}

p {
	font-family: "Lato", Arial, sans-serif;
	font-weight: 300;
}

body {
	background-image: url("/img/BG.svg");
	background-size: cover;
	background-repeat: none;
	background-position: center center;
}

.panel {
	padding-top: 3%;
	background-color: white;
	border-style: none;
}

.info-button,
.info-button::before,
.info-button::after {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	height: 7em;
	width: 12em;
	outline: 0;
}

.green-light {
	background-color: #8CDCCA;
}

.green-dark {
	background-color: #4ED2B5;
}

.aboutText,
.workText {
	display: none;
}