<div class="row">
	<div class="small-12 medium-4 columns">
		<div class="site-title small-only-text-center">christine tran</div>
		<div class="small-3 small-only-text-center medium-12 columns">about</div>
		<div class="small-3 small-only-text-center medium-12 columns">all work</div>
		<div class="small-3 small-only-text-center medium-12 columns">code</div>
		<div class="small-3 small-only-text-center medium-12 columns">art</div>
	</div>
	<div class="small-12 medium-8 columns">
		<div class="small-4 medium-1 medium-offset-9 columns text-center"><a href="https://www.linkedin.com/in/ctine"><i class="fi-social-linkedin icon-size"></i></a></div>
    	<div class="small-4 medium-1 columns text-center"><a href="https://github.com/tranchri"><i class="fi-social-github icon-size"></i></a></div>
    	<div class="small-4 medium-1 columns text-center"><a href="mailto:ctine.tn@gmail.com"><i class="fi-mail icon-size"></i></a></div>
	</div>
</div>

<!-- 
<header>
    <div class="row breathe-top">
    <div class="small-12 medium-9 columns site-title">christine tran</div>
    <div class="small-4 medium-1 columns text-center"><a href="https://www.linkedin.com/in/ctine"><i class="fi-social-linkedin icon-size"></i></a></div>
    <div class="small-4 medium-1 columns text-center"><a href="https://github.com/tranchri"><i class="fi-social-github icon-size"></i></a></div>
    <div class="small-4 medium-1 columns text-center"><a href="mailto:ctine.tn@gmail.com"><i class="fi-mail icon-size"></i></a></div>
  </div>
</header>

<nav>
	<div class="row">
		<div class="small-3 medium-12 columns">about</div>
		<div class="small-3 medium-12 columns">all work</div>
		<div class="small-3 medium-12 columns">code</div>
		<div class="small-3 medium-12 columns">art</div>
	</div>
</nav> 
-->
