<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Christine Tran</title>
  <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/foundation.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/fonts/foundation-icons/foundation-icons.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
</head>
