<!-- Name and title -->
<div class="row">
	<div class="small-12 column site-title text-center"><a href="{{site.url}}">christine tran</a></div>
	<div class="small-12 column text-center"><h5>artist &amp; developer</h5></div>
</div>

<!-- Social media links -->
<div class="row">
	<div class="small-12 column text-center">
		<a href="{{root}}about/"><i class="fi-torso icon-size"></i></a>
		<a href="https://www.linkedin.com/in/ctine"><i class="fi-social-linkedin icon-size"></i></a>
		<a href="https://github.com/tranchri"><i class="fi-social-github icon-size"></i></a>
		<a href="mailto:ctine.tn@gmail.com"><i class="fi-mail icon-size"></i></a>
	</div>
</div>